@font-face {
  font-family: "Gotham";
  src: url(../fonts/GothamBook.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(../fonts/GothamMedium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url(../fonts/GothamMedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(../fonts/GothamBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* CSS Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Main Styling */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  list-style-type: none;
}
/* Utilities */
.clr {
  clear: both;
}
.side-nav-white {
  position: fixed;
  padding-top: 100px;
  height: 400px;
}
.side-nav-white div {
  height: 10px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.404);
  background-color: rgba(255, 255, 255, 0.404);
  margin-left: 20px;
}
.side-nav-white a {
  opacity: 0;
  font-size: 12px;
  color: #fff;
  margin-left: 5px;
}
.side-nav-white a:hover {
  opacity: 1;
}
.side-nav-black {
  float: left;
  position: absolute;
  width: 150px;
  height: 450px;
}
.side-nav-black li {
  display: list-item;
}

.side-nav-black div {
  height: 10px;
  display: inline-table;
  border: 1px solid #333;
  background-color: #333;
  margin-left: 20px;
}
.side-nav-black a {
  opacity: 0;
  font-size: 12px;
  color: #333;
  margin-left: 0px;
}

.side-nav-black a:hover {
  opacity: 1;
}

.logo {
  float: left;
  padding: 20px;
}
.logo img {
  width: 100px;
}
.btn-white {
  color: #fff;
  position: relative;
  bottom: 20px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  font-family: Gotham;
  margin-top: 5px;
  background: transparent;
  border: #fff 2px solid;
  padding: 0px !important;
  cursor: pointer;
}
.btn-white:hover {
  color: #333;
  background: #fff;
}
.btn-black {
  color: #333;
  position: relative;
  bottom: 20px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  font-family: Gotham;
  margin-top: 5px;
  background: transparent;
  border: #333 2px solid;
  padding: 0px !important;
  cursor: pointer;
}
.btn-black:hover {
  color: #fff;
  background: #333;
}
/* Home - Model 3 */
#home {
  background: url("../img/model-3-hero.jfif") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  font-family: Gotham;
  color: #fff;
}
nav {
  max-width: 2000px;
  height: 15vh;
  margin: 0 auto;
}

#navbar {
  margin: 0 auto;
}

#navbar ul {
  margin: 0;
  padding: 0;
  float: left;
}

#navbar .hamburger {
  float: right;
}
#navbar ul li {
  list-style: none;
  display: inline;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
  float: left;
  padding: 20px 10px;
}

#navbar .menu {
  float: right;
}
#navbar .right-menu {
  margin-left: 400px;
}

.hamburger img {
  width: 20px;
}
#navbar .hamburger {
  padding: 18px 10px 0px 0px;
}

#home .section {
  width: 100vw;
  height: 65vh;
}

.section h1 {
  font-size: 40px;
  text-align: center;
  font-family: Gotham;
  font-weight: 400;
}

.section li {
  padding-bottom: 10px;
}

#home .footer-icon {
  max-width: 2000px;
  height: 10vh;
  margin: 0 auto;
  text-align: center;
}
.footer-icon div {
  font-size: 500;
  display: inline-block;
  height: 6vh;
  width: 150px;
  border-right: 1px solid #fff;
  text-align: center;
}
.footer-icon div:nth-last-child(3),
.footer-icon div:nth-last-child(2) {
  border-right: none;
}
.footer-icon h3 {
  font-size: 30px;
}
.footer-icon .speedometer-text {
  display: inline;
  padding: 10px;
}
.footer-icon .speedometer {
  position: relative;
  right: 27px;
}
.footer-icon p {
  padding: 10px;
}
.footer-icon .message {
  width: 600px;
  margin: 5px;
  position: fixed;
  border: none;
}
.footer-icon .message-circle {
  float: right;
  width: 50px;
  height: 50px;
  border: #fff 2px solid;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
}
.footer-icon .message-icon {
  padding: 10px 0px 0px 8px;
}

.footer-arrow {
  max-width: 2000px;
  height: 1vh;
  margin: 0 auto;
  text-align: center;
}

.down-arrow img {
  font-size: 500;
  display: inline-block;
  width: 20px;
  text-align: center;
  transform: rotate(180deg);
  margin-top: 50px;
  cursor: pointer;
}

/* Safety */
#safety {
  width: 100vw;
  height: 100vh;
  font-family: Gotham;
  color: #333;
}
#safety .logo {
  position: relative;
}
.safety-right {
  float: right;
  background: url("../img/model_3_safety_hero.png") no-repeat center
    center/cover;
  width: 75vw;
  height: 100vh;
  font-family: Gotham;
  color: #fff;
  float: right;
}

.safety-right .up-arrow-icon {
  position: sticky;
  margin: 20px;
  float: right;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.safety-left {
  position: absolute;
  float: left;
  width: 25vw;
  height: 100vh;
  font-family: Gotham;
}
.safety-left header {
  height: 30vh;
}
.safety-left section {
  padding-top: 25px;
  height: 55vh;
}
.safety-left footer {
  height: 20vh;
}
.safety-left header {
  padding: 50px;
}
.safety-left header h1 {
  margin-bottom: 10px;
}
.safety-left header p {
  line-height: 1.5em;
}

.section .nhtsa {
  margin: 30px 50px 0 50px;
  padding-top: 22px;
  float: right;
  background: #eeeeee;
  height: 300px;
  width: 320px;
  border-radius: 20px;
}
.section .nhtsa h1 {
  font-size: 20px;
}

.section .nhtsa h2 {
  padding: 0px 0px 0px 10px;
  padding-bottom: 10px;
  font-size: 14px;
}
.section .nhtsa p {
  padding: 0px 0px 0px 10px;
  font-size: 8px;
}
.section .nhtsa img {
  position: relative;
  bottom: 10px;
  right: 20px;
  float: right;
  width: 50px;
  height: 50px;
}
#safety footer {
  height: 5vh;
}
#safety footer .learn-more {
  padding: 25px;
  width: 50%;
  float: left;
}

#safety footer button {
  margin-top: 50px;
  width: 40%;
}

#safety footer p {
  padding-top: 20px;
  font-size: 14px;
  float: right;
}
.plus-circle {
  margin-left: 40px;
  float: left;
  width: 50px;
  height: 50px;
  border: #333 3px solid;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  float: left;
}
.plus-circle:hover {
  background: #333;
  color: #fff;
}
#safety footer h1 {
  text-align: center;
  font-size: 40px;
}

/* Performance */

#performance {
  width: 100vw;
  height: 100vh;
  font-family: Gotham;
  color: #333;
}
#performance .performance-up {
  max-width: 100vw;
  height: 75vh;
  background: url("../img/page-3.jfif") no-repeat center center/cover;
}
#performance .performance-up .performance-content {
  height: 62vh;
}
#performance .performance-up .performance-content .up-arrow-icon {
  position: sticky;
  margin: 20px;
  float: right;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
#performance .performance-up .footer-icon {
  color: #fff;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}
#performance .performance-up .footer-icon div {
  border-right: #fff 1px solid;
  text-align: left;
  width: 33%;
  padding: 0 10px;
}
#performance .performance-up .footer-icon div:last-child {
  border-right: none;
}
#performance .performance-up .footer-icon p {
  padding: 0;
  font-size: 12px;
}
#performance .performance-up .footer-icon h3 {
  padding-bottom: 6px;
  font-size: 28px;
}

#performance .footer {
  max-width: 1000px;
  margin: auto;
  padding-top: 40px;
}
#performance .footer .footer-left {
  text-align: left;
  float: left;
  width: 35%;
}
#performance .footer .footer-right {
  padding-left: 30px;
  float: left;
  width: 65%;
}
#performance .footer .footer-left .quick-acceleration {
  line-height: 1.5em;
  height: 60%;
  padding-bottom: 12px;
}
#performance .footer .footer-left .quick-acceleration h3 {
  font-size: 16px;
}
#performance .footer .footer-left .quick-acceleration h1 {
  font-size: 24px;
}
#performance .footer .footer-left .learn-more .plus-circle {
  float: left;
  margin: 0px;
  text-align: center;
}
#performance .footer .footer-left .learn-more p {
  padding: 15px 10px 0 15px;
  float: left;
}
#performance .footer .footer-left .learn-more .btn-black {
  margin-top: 24px;
}

/* All-Wheel Drive */
